@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
}

a {
   text-decoration: none; 
}




/* styles and footer */


.my-footer .container, .social-list, .social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social-list {
    padding: 0;
    margin: 0 140px 0 0;
}
.social-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e1e1e1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.social-item:last-child {
    margin-right: 0;
}

/* 
.main-header {
}
.container {
}
.main-navigation {
}
.main-header-logo {
}
.wrapper {
}
.site-navigation {
}
.basket {
}
.visually-hidden {
}
.slider {
}
.slider-controls {
}
.slider-controls-item {
}
.slider-controls-item--1 {
}
.slider-controls-item--2 {
}
.slider-controls-item--3 {
}
.slider-list {
}
.slider-item {
}
.slider-item-button {
}
.button {
}
.services {
}
.services-list {
}
.services-item {
}
.button-red {
}
.button-green {
}
.button-yellow {
}
.about-us {
}
.description {
}
.description-list {
}
.description-item {
}
.statistics {
}
.percenttages {
}
.details {
}
.partners {
}
.partners-list {
}
.partners-item {
}
.map {
}
.addres {
}
.button-adres {
}
.my-footer {
}
.footer-social {
}
.social-list {
}
.social-item {
}
.social-button {
}
.be-friends {
}
.modal {
}
.modal-login {
}
.modal-show {
}
.login-form {
}
.modal-close {
}

*/