body {
    margin: 0;
    padding: 0;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
}
/* layout header start */
.main-header {
    margin: 0;
    min-width: 1200px;
    padding: 50px 0 0;
    background-color: #eee;

}

.container {
    margin: 0 auto;
    padding: 0;
    min-width: 1160px;
    min-height: 100px;
    position: relative;
}
/* layout header ending */

.visually-hidden {
    visibility: hidden;
}
.slider-toggle {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-toggle .slider-toggle-item--1::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}
.slider-toggle label::after {
    content: "";
    width: 18px;
    height: 18px;
    background: #aaa;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    border-radius: 50%;
}

.slider-toggle-item {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}